---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <style lang="scss">
      a {
        text-decoration: none;
        border-bottom: 1px solid var(--orange);

        &:hover {
          color: var(--orange);
        }
      }

      .mv {
        border-bottom: 1px solid var(--orange);
      }
      .values {
        text-decoration: var(--orange) line-through;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Why, hello there!</h1>
      <p>
        If you've stumbled here somehow, welcome! Fret not, we will grow. But
        for now, before adding a bunch of flashy useless things, feel free to
        check the <a href="/blog">point</a> of Speedrun.
      </p>

      <h2>Our <span class="mv">mission</span></h2>
      <p>
        Have you ever needed to learn something really fast – like, for
        yesterday if possible? We're here to help with that. The basic idea is:
        why would you need tons of text to understand a basic concept? We'll
        dumb it down, translate it to English, and teach you stuff in a couple
        of minutes.<br /> After you learn it and get the idea of what's going on,
        then we'll probably drop a wall of text to polish that knowledge. Maybe not,
        it kinda depends on the topic.
      </p>

      <h2>Our <span class="mv">vision</span></h2>
      <p>
        One day, we will help everyone learn coding in just a couple of weeks!
        The idea of "join this course and in a month you'll get ___ salary" will
        actually become a reality. <br /> How? <br /> By writing code. Not just a
        little code, but by writing a bunch of codes, and by not following the usual
        route. Stay tuned...
      </p>

      <h2>Our... <span class="values">that third thing</span></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sequi
        temporibus laboriosam incidunt adipisci pariatur reiciendis vel
        quisquam, consequatur tempora! Quis tempora rerum magni, repellendus
        quaerat corporis ullam eos laudantium.
      </p>
    </main>
    <Footer />
  </body>
</html>
